@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,200;1,300&family=Poppins:ital,wght@0,200;0,400;1,100&display=swap');

.body {
    font-family: 'Josefin Sans', sans-serif !important;
}

a {
    color: #04a4bc;
}


.btn-primary {
    background-color: #a44434;
}

.btn-wrapper {
    position: fixed;
    right: 20px;
    bottom: 35px;
    z-index: 10;
}

.text-primaryservicios {
    line-height: 0 !important;
    font-size: 3rem !important;
    color: #ef6c57 !important;
}

.site-section {
    padding: 10px;
}

.site-footer {
    padding: 10px;
    background: #ac545c;
}

.list-unstyled {
    color: #fff;
}