@import {url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,200;1,300&family=Poppins:ital,wght@0,200;0,400;1,100&display=swap');font-display:swap;}


body {
    font-family: 'Josefin Sans', sans-serif; /* O la fuente que desees utilizar como predeterminada para el texto del cuerpo */
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif; /* O la fuente que desees utilizar para los títulos */
  }

a {
    color: #ef6c57;
}

.site-navbar {
    background: #c6b791;
}

.slide-one-item.home-slider .owl-prev, .slide-one-item.home-slider .owl-next {
    background:#c6b791;
 }

 .slide-one-item.home-slider .owl-prev, .slide-one-item.home-slider .owl-next:hover {
    background:#c6b791 !important;
 }


.dropdown {
    background:#c6b791 !important;
 }

.btn-primary {
    background-color: #c6b791;
    transition: color 0.3s; /* Transición suave del color */
    border-radius: 5px;
}

.btn.btn-primary:hover {
    color:#fff !important;
    background-color:#aa413c !important;
    border: 2px solid #c6b791;
}

.btn-wrapper {
    position: fixed;
    right: 20px;
    bottom: 35px;
    z-index: 10;
}

.text-primaryservicios {
    line-height: 0 !important;
    font-size: 3rem !important;
    color: #ef6c57 !important;
}

.site-section {
    padding: 10px;
}

.p-5{
    padding: 1rem!important;

}
.site-footer {
    padding: 15px;
    background: #aa413c;
}

.site-footer p {
    margin-bottom: 0px;
}

.list-unstyled {
    color: #fff;
}

/* TABLETS */
@media (max-width: 950px) {
    .site-mobile-menu  {
        background-color: transparent;
        
    }
    
}


/* MOBILES */
@media (max-width: 650px) {

.site-mobile-menu  {
    background-color: transparent;
    width: 200px;
}



}
